.products {
    width: 100%;
    min-height: 400px;
    margin: 0 auto;

    h1 {
        display: flex;
        justify-content: center;
        font-family: 'Inter', sans-serif;
        text-decoration: underline solid 3px #ce6972;
        text-underline-offset: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Inter', sans-serif;
    }

    .product-grid {
        width: 70%;
        min-height: 400px;
        // background-color: rgb(200, 195, 191);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 100px auto;

        .row1 {
            height: 300px;
            width: 100%;
            // background-color: red;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            img {
                width: 49%;
                height: 100%;
            }
        }
        .best-deals {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Inter', sans-serif;
            padding-bottom: 15px;
        }
        .row2 {
            height: 300px;
            width: 100%;
            // background-color: yellow;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 32%;
                height: 100%;
            }
        }
    }

    p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Inter', sans-serif;
    }
}