footer {
    width: 100%;
    height: 100px;
    background-color: #ce6972;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    .phone {
        width: 48%;
        height: 100%;
        // background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            color: rgb(235, 234, 233);
            font-family: 'Inter', sans-serif;
        }

        p {
            color: rgb(235, 234, 233);
            font-family: 'Inter', sans-serif;
        }
    }

    .socials {
        width: 48%;
        height: 80%;
        // background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            color: rgb(235, 234, 233);
            font-family: 'Inter', sans-serif;
        }
        .socials-icons {
            width: 200px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            //  background-color: aquamarine;
            i {
                color: rgb(235, 234, 233);
                font-size: 30px;
                cursor: pointer;
            }
        }

    }
}