.about {
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: 'Inter', sans-serif;
        text-decoration: underline solid 3px #ce6972;
        text-underline-offset: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .staff-list {
        width: 800px;
        height: 200px;
        border: solid 3px #ce6972;
        margin-bottom: 100px;
        display: flex;
        position: relative;
            .staff-image-one {
                width: 35%;
                height: 100%;
                background-image: url(../images/staff1.jfif);
                background-size: cover;
                background-position: top;
                background-repeat: no-repeat;
            }

            .staff-image-two {
                width: 35%;
                height: 100%;
                background-image: url(../images/staff2.jpg);
                background-size: cover;
                background-position: top;
                background-repeat: no-repeat;
            }

            .staff-image-three {
                width: 35%;
                height: 100%;
                background-image: url(../images/staff3.jpg);
                background-size: cover;
                background-position: center -55px;
                background-repeat: no-repeat;
            }

        p {
            width: 60%;
            height: 90%;
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: left;
        }
        h5 {
            position: absolute;
            bottom: -10px;
            right: 10px;
            color: #999;
        }
    }
}